#login_frame{
}

.user_pwd_title {
    position: absolute;
    top: 55px;
    left: 0;
    font-family: "microsoft yahei";
}

.user_pwd_input {
    position: absolute;
    left: 70px;
    top: 49px;
}

.login_btn {
    position: absolute;
    left: 150px;
    top: 100px;
}
